{% extends 'base.html' %} {% block content %}
    <section id="dashboard" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Welcome John</h2>
            <p>Here are the clinic listings that you have inquired about</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Clinic</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>22</td>
                  <td>Harmony Health Clinic</td>
                  <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                  </td>
                </tr>
                <tr>
                  <td>43</td>
                  <td>BrightCare Health Clinic</td>
                  <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                  </td>
                </tr>
                <tr>
                  <td>31</td>
                  <td>Healing Horizons Clinic</td>
                  <td>
                    <a class="btn btn-light" href="#">View Listing</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}